body {
    margin: 0;
    padding: 0;
  
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
   
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
  }

  a {
    text-decoration: none;
  }
  
  .site-navigation
  {
    font-size: 21px;
    line-height: 40px;
    font-weight: 500;
  }

  .page-title {
    font-size: 73px;
    line-height: 73px;
    font-weight: medium;
  }

  .filter fieldset {
    border: none;
  }

  .filter legend {
    font-size: 24px;
    line-height: 39px;
    font-weight: bold;
  }

  .filter-option {
    list-style: none;
    font-size: 26px;
    line-height: 18px;
    font-weight: 200;
  }

  

.catalog-list {
    list-style: none;
  }
  
  .catalog-item {
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .catalog-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .catalog-item a {
    color: #ff0000;
  }
  
  .catalog-item title {
    font-size: 23px;
    line-height: 39px;
    font-weight: bold;
  }

  .catalog-category {
    text-transform: none;
  }
  .catalog-item-price b {
    font-size: 21px;
    line-height: 23px;
    text-align: center;
  
    background-color: #e5e5e5;
  }
  .catalog-item-price .button {
    line-height: 20px;
    color: #ffffff;
  }
  .pagination-list {
    list-style: none;
  }
  .pagination-item a {
    color: #ffffff;
  
    background-color: #0f35df;
  }

  /*закончил тут*/

  .pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #663d15;
}

.pagination-item-current a {
    color: #000000;
  
    background-color: #ffffff;
  }
  
  .pagination-item-current a:hover,
  .pagination-item-current a:focus,
  .pagination-item-current a:active {
    color: #000000;
  
    background-color: #ffffff;
  }

  

  .main-navigation {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  
    background-color: #ffffff;
  }

  .site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.features-list {
    list-style: none;
  }

  .feature-item {
    text-align: center;
  }
  
  .feature-item h3 {
    font-size: 30px;
    line-height: 42px;
  }

  button {
    font: inherit;
  
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
  
    background-color: #000000;
    border: none;
  }
  .button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.main-footer {
    color: #000000;
  
    background-color: #ffffff;
    background-position: 0 0;
    background-repeat: repeat;
  }

  .footer-contacts a {
    color: #ffffff;
    text-decoration: underline;
  }
  
  .footer-contacts a:hover,
  .footer-contacts a:focus {
    text-decoration: none;
  }
  .footer-social {
    text-align: center;
  }
  
  .footer-social ul {
    list-style: none;
  }
  
  .social-button {
    color: #a7a3a3;
    visibility: hidden;
  }
  .footer-copyright {
    text-align: center;
  }
  
  .footer-copyright .button:hover,
  .footer-copyright .button:focus {
    color: #000000;
  
    background-color: #ffffff;
  }