/* основные свойства тела главной */
body {
    margin: 0;
    padding: 0;
  
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    
   
  background-color: #ffffff;
  
  }

  .container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    margin: 0;
    padding: 0;
    display: inline-block;

    font: inherit;
    line-height: 18px;
    color: #fff;

    text-transform: uppercase;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.button-red {
    background-color: #fb565a;
}

.button-red:hover,
.button-red:focus {
    background-color: #e74246;
}

.button-red:active {
    background-color: #d7373b;
    -webkit-box-shadow: inset 0px 3px rgba(0, 1, 1, 0.1);
            box-shadow: inset 0px 3px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
}

.button-green {
    background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
    background-color: #00bc6c;
}

.button-green:active {
    background-color: #00aa62;
    -webkit-box-shadow: inset 0px 3px rgba(0, 1, 1, 0.1);
            box-shadow: inset 0px 3px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
}

.button-yellow {
    background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
    background-color: #eab534;
}

.button-yellow:active {
    background-color: #e5a722;
    -webkit-box-shadow: inset 0px 3px rgba(0, 1, 1, 0.1);
            box-shadow: inset 0px 3px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
}


 /* отключаем у ссылок подчеркивание */
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
    height: auto;
}
   /* размеры навигационных кнопок */
  .site-navigation
  {
    font-size: 16px;
    line-height: 40px;
    font-weight: 500;
  }
  .zakaz
  {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
  }
  /* преимущества */
.advantages
  {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
  }
/* заголовок "Давайте дружить" */
  .footer-title
  {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
  }
/* размер заголовка "Магазин готовых шаблонов в shop */
  .page-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    text-transform: none;
  }
/* убирает видимую границу у "сетки" и "особенности" */
  .filter fieldset {
    border: none;
  }

  .filter legend {
    font-size: 18px;
    line-height: 39px;
    font-weight: 700;
  }
/* размер слов "сетка" и "особенности" */
  .filter-option {
    list-style: none;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    text-transform: none;
  }

  /* отключает маркеры у товаров */
  /*  */

.catalog-list {
    list-style: none;
  }
  /* цвет для товара */
  .catalog-item {
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .catalog-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .catalog-item a {
    color: #ff0000;
  }
  /* размер для заголовка товара */
  .catalog-item title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .catalog-category {
    text-transform: none;
  }
  /* размер и цвет для цены */
  .catalog-item-price b {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  
    background-color: #e5e5e5;
  }
  /* кнопка купить */
  .catalog-item-price .button {
    line-height: 20px;
    color: #ffffff;
    
  }
  
  .main-navigation {
    font-size: 16px;
    line-height: 20px;
    color: #e7e4e4;
    font-weight: 400;
  }

  button {
    font: inherit;
  
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
  
    background-color: #000000;
    border: none;
  }
  .button:hover,
.button:focus,
.button:active {
  background-color: #788688;
}

 /* подвал сайта */
.main-footer {
    color: #000000;
    background-position: 0 0;
    background-repeat: repeat;
  }

  .social-button {
    color: #a7a3a3;
    visibility: hidden;
  }
  .footer-copyright {
    text-align: center;
  }
  
  .footer-copyright .button:hover,
  .footer-copyright .button:focus {
    color: #000000;
  }