body {
    margin: 0;
    padding: 0;
    min-width: 1180px;

    font: 16px/24px Roboto, Arial, sans-serif;
    color: #000;

    background-color: #fff;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    margin: 0;
    padding: 0;
    display: inline-block;

    font: inherit;
    line-height: 18px;
    color: #fff;

    text-transform: uppercase;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.button-red {
    background-color: #fb565a;
}

.button-red:hover,
.button-red:focus {
    background-color: #e74246;
}

.button-red:active {
    background-color: #d7373b;
    -webkit-box-shadow: inset 0px 3px rgba(0, 1, 1, 0.1);
            box-shadow: inset 0px 3px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
}

.button-green {
    background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
    background-color: #00bc6c;
}

.button-green:active {
    background-color: #00aa62;
    -webkit-box-shadow: inset 0px 3px rgba(0, 1, 1, 0.1);
            box-shadow: inset 0px 3px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
}

.button-yellow {
    background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
    background-color: #eab534;
}

.button-yellow:active {
    background-color: #e5a722;
    -webkit-box-shadow: inset 0px 3px rgba(0, 1, 1, 0.1);
            box-shadow: inset 0px 3px rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*
===== MODAL =====
*/

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;

    background-color: #fff;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.modal-close {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 78px;
    right: 90px;

    width: 21px;
    height: 21px;

    opacity: 0.3;
    border: none;
    background-color: transparent;
}

.modal-close:hover,
.modal-close:focus {
    cursor: pointer;
    opacity: 1;
}

.modal-close:active {
    opacity: 0.1;
}

.modal-close::after,
.modal-close::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -3px;

    width: 27px;
    height: 5px;

    border-radius: 1px;
    background-color: #e74246;
}

.modal-close::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.modal-close::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

/*
===== MODAL FEEDBACK =====
*/

.modal-feedback {
    top: -150%;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 960px;
    padding: 26px 100px 84px;

    -webkit-transition: top 1.3s ease;
         -o-transition: top 1.3s ease;
            transition: top 1.3s ease;

    -webkit-box-shadow: 0px 20px 40px rgba(0, 1, 1, 0.75);
            box-shadow: 0px 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-feedback-show {
    top: 50%;
}

.modal-feedback h2 {
    font-size: 45px;
    font-weight: 500;
    line-height: normal;
}

.modal-feedback label {
    display: block;
    margin-bottom: 10px;

    line-height: 18px;
    font-weight: bold;
}

.modal-feedback input[type="text"],
.modal-feedback input[type="email"],
.modal-feedback textarea {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px 14px;

    font: inherit;
    line-height: 18px;

    border: 2px solid #d7dcde;
}

.modal-feedback input[type="text"]:hover,
.modal-feedback input[type="email"]:hover,
.modal-feedback textarea:hover {
    border-color: #b4b9bb;
}

.modal-feedback input[type="text"]:focus,
.modal-feedback input[type="email"]:focus,
.modal-feedback textarea:focus {
    border-color: #000;
    outline: none;
}

.modal-feedback input[type="text"]:invalid,
.modal-feedback input[type="email"]:invalid,
.modal-feedback textarea:invalid {
    color: #e74246;
    border-color: #e74246;
}

.modal-feedback textarea {
    width: 100%;
    height: 118px;

    resize: none;
}

.modal-feedback-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.modal-feedback-group p {
    width: 360px;
}

.modal-feedback-group input {
    width: 100%;
}

.modal-feedback .button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 260px;
    padding: 16px 10px;
}

/*
===== MAIN HEADER =====
*/
.main-header {
    background-color: #eee;
}

.main-navigation {
    padding-top: 49px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main-header-logo {
    margin-right: 202px;

    line-height: 0;
}

.main-header-logo:hover,
.main-header-logo:focus {
    opacity: 0.8;
}

.main-header-logo:active {
    opacity: 0.3;
}

.site-navigation,
.user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.site-navigation li + li {
    margin-left: 43px;
}

.site-navigation-current {
    -webkit-box-shadow: 0 2px 0 0 #fb565a;
            box-shadow: 0 2px 0 0 #fb565a;
}

.site-navigation a,
.user-navigation a {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #000;

    text-decoration: none;
    text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
 color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-navigation {
    margin-left: auto;
}

.user-navigation a {
    padding-left: 40px;

    background: url(../img/cart.svg) no-repeat left center;
}

/*
===== MAIN SLIDER =====
*/

.main-slider {
    margin-bottom: 80px;

    background-color: #eee;
}

.main-slider-list {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.main-slider-item {
    padding: 71px 0 80px;

    background: transparent url(../img/slider-bg-1.png) no-repeat right bottom;
}

.main-slider-item h3 {
    margin: 0;
    margin-bottom: 28px;

    width: 550px;

    font-size: 55px;
    line-height: 55px;
}

.main-slider-item p {
    margin: 0;
    margin-bottom: 37px;
    width: 400px;

    color: #283136;
}

.main-slider-item .button {
    padding: 17px 53px;
}

/*
===== OWL CAROUSEL - MAIN SLIDER =====
*/

.owl-carousel .owl-dots {
    position: absolute;
    bottom: 87px;
    left: 50%;

    -webkit-transform: translateX(-50%);

        -ms-transform: translateX(-50%);

            transform: translateX(-50%);
}

.owl-carousel .owl-dots .owl-dot span {
    position: relative;

    display: block;
    width: 18px;
    height: 18px;
    margin: 0 8px;

    background: #fff;
    border-radius: 50%;
}

.owl-carousel .owl-dots .owl-dot.active span::before,
.owl-carousel .owl-dots .owl-dot:hover span::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 5px;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
    width: 8px;
    height: 8px;

    border: 2px solid #ccc;
    border-radius: 50%;
}

/*
===== SERVICES =====
*/

.services {
    margin-bottom: 40px;
}

.services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    padding-bottom: 80px;

    list-style-type: none;
    border-bottom: 2px solid #eee;
}

.services-item {
    width: 300px;
    margin-right: 100px;
}

.services-item:last-child {
    margin-right: 0;
}

.services-item img {
    margin-bottom: 20px;
}

.services-item h3 {
    margin: 0;
    margin-bottom: 16px;

    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.services-item p {
    margin-bottom: 34px;

    color: #283136;
}

.services-item .button {
    padding: 17px 40px;
}

/*
===== ABOUT =====
*/

.about {
    margin-bottom: 46px;
}

.about-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 50px;

    border-bottom: 2px solid #eee;
}

.about-column-left {
    width: 670px;
    padding-top: 35px;
}

.about-column-left .lead {
    display: block;
    margin: 0;
    margin-bottom: 35px;

    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    text-transform: none;
}

.about-column-left p {
    margin-bottom: 35px;

    color: #283136;
}

.about-column-left b {
    display: block;
    margin-bottom: 23px;

    font-weight: bold;
    color: #283136;
    text-transform: uppercase;
}

.about-column-left ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.about-column-left li {
    position: relative;

    margin-bottom: 25px;
    padding-left: 36px;

    color: #283136;
}

.about-column-left li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 25px;
    height: 2px;

    background-color: #fb565a;
}

.about-column-right {
    width: 360px;
}

.about-column-right img {
    margin-bottom: 26px;
}

.about-column-right table {
    border-collapse: collapse;
}

.about-column-right caption {
    margin-bottom: 36px;

    font-weight: bold;
}

.about-column-right thead {
    display: table-footer-group;
}

.about-column-right td,
.about-column-right th {
    width: 33.333%;

    text-align: left;
    vertical-align: middle;
}

.about-column-right th {
    font-weight: normal;
    color: #283136;
}

.about-column-right td {
    font-size: 45px;
    line-height: 54px;
    font-weight: bold;
}

.about-column-right sup {
    font-size: 27px;
    font-weight: bold;
}

/*
===== PARTNERS =====
*/

.partners {
    margin-bottom: 80px;
}

.partners-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    padding-bottom: 46px;

    list-style-type: none;
    border-bottom: 2px solid #eee;
}

.partners-item {
    position: relative;
    line-height: 0;
}

.partners-item a {
    display: inline-block;

    opacity: 0.2;
}

.partners-item a:hover,
.partners-item a:focus {
    opacity: 1;
}

.partners-item a:active {
    opacity: 0.1;
}

.partners-item:not(:last-child)::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -45px;

    width: 2px;
    height: 52px;

    -webkit-transform: translateY(-50%);

        -ms-transform: translateY(-50%);

            transform: translateY(-50%);
    background-color: #eee;
}

/*
===== MAIN FOOTER =====
*/

/*
===== MAP =====
*/

.map {
    position: relative;
}

.map-wrapper  {
    position: relative;
    height: 416px;
}

.map-contacts {
    position: absolute;
    top: 54px;
    left: 0;
    z-index: 1;

    padding: 49px;

    background-color: #fff;
}

.map-contacts h3 {
    margin: 0;
    margin-bottom: 23px;

    font-weight: bold;
    font-size: 18px;
    line-height: 30px;

    text-transform: uppercase;
}

.map-contacts p {
    margin: 0;
    margin-bottom: 18px;

    line-height: 18px;
    color: #666;
}

.map-contacts p:last-of-type {
    margin-bottom: 35px;
}

.map-contacts .button {
    padding: 17px 45px;
}

.map-interactive {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.map-interactive iframe {
    width: 100%;
    height: 100%;

    border: none;
}

/*
===== MAIN FOOTER INFO =====
*/

.main-footer-info .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main-footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.main-footer-social li {
    margin-right: 13px;
}

.main-footer-social li:last-child {
    margin-right: 140px;
}

.main-footer-social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 77px;
    height: 77px;

    background-color: #e1e1e1;
    border-radius: 50%;
}

.main-footer-social a:hover,
.main-footer-social a:focus {
    background-color: #e74246;
}

.main-footer-social a:active {
    background-color: #d7373b;
    -webkit-box-shadow: inset 0px 3px rgba(0, 1, 1, 0.1);
            box-shadow: inset 0px 3px rgba(0, 1, 1, 0.1);
}

.main-footer-social a::before {
    content: "";

    margin: auto;
}

.main-footer-social li:first-of-type a::before {
    width: 26px;
    height: 15px;

    background-image: url(../img/vk.svg);
}

.main-footer-social li:nth-of-type(2) a::before {
    width: 12px;
    height: 22px;

    background-image: url(../img/fb.svg);
}

.main-footer-social li:nth-of-type(3) a::before {
    width: 21px;
    height: 21px;

    background-image: url(../img/insta.svg);
}

.main-footer-social a:active::before {
    opacity: 0.3;
}

.main-footer-info {
    padding: 58px 0 68px;
}

.main-footer-info p {
    line-height: 22px;
    color: #444;
}

.main-footer-info b {
    display: block;
    margin-bottom: 9px;

    font-size: 36px;
    line-height: 36px;
    color: #000;
}

/*
===== CATALOG PAGE =====
*/

/*
===== CATALOG HEADER =====
*/

.catalog-header {
    padding: 73px 0 111px;
    margin-bottom: 55px;

    background-color: #eee;
}

.catalog-header-title {
    margin: 0;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;

    text-align: center;
}

/*
===== CATALOG COLUMNS =====
*/

.catalog-columns {
    margin-bottom: 60px;
}

.catalog-columns .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


/*
===== CATALOG FILTER =====
*/

.catalog-filter {
    width: 260px;
}

.filter-form fieldset {
    margin: 0;
    margin-bottom: 27px;
    padding: 0;

    border: none;
}

.filter-form legend {
    margin-bottom: 15px;

    font-size: 18px;
    line-height: 30px;
    font-weight: bold;

    text-transform: uppercase;
}

.filter-form fieldset:first-child {
    margin-bottom: 55px;
}

.filter-form fieldset:first-child legend {
    margin-bottom: 47px;
}

.range-controls {
    position: relative;

    padding: 39px 21px;
    margin-bottom: 12px;

    background-color: #eee;
    border-radius: 2px;
}

.range-controls .scale {
    height: 2px;

    background-color: #d7dcde;
}

.range-controls .bar {
    height: 100%;
    width: 70%;

    background-color: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;

    width: 4px;
    height: 4px;

    border: 8px solid #fff;
    border-radius: 50%;
    background-color: #ababab;
    -webkit-box-shadow: 0 2px 0 0 #cccdcd;
            box-shadow: 0 2px 0 0 #cccdcd;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 11px;
}

.range-controls .toggle-max {
    left: 163px;
}

.range-price {
    font-size: 0;
}

.range-price label {
    display: inline-block;
    width: 50%;

    font-size: 16px;
    line-height: 22px;
    color: #283136;
}

.range-price input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 80px;
    margin-left: 10px;
    padding: 7px 4px;

    font: inherit;
    line-height: 22px;

    text-align: center;
    border: none;
    background-color: #eee;
    border-radius: 2px;
}

.range-price .max-price {
    text-align: right;
}

.filter-form ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.filter-option {
    margin-bottom: 17px;
}

.filter-input + label {
    position: relative;
    padding-left: 36px;

    line-height: 20px;
    color: #283136;
}

.filter-input-radio + label::before {
    content: "";
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    position: absolute;
    top: -3px;
    left: 0;

    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 4px solid #4d4d4d;
    opacity: 0.4;
}

.filter-input-radio:checked + label::after {
    content: "";

    position: absolute;
    top: 5px;
    left: 8px;

    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #4d4d4d;
    opacity: 0.4;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before,
.filter-input-radio:hover + label::after,
.filter-input-radio:focus + label::after {
    opacity: 1;
}

.filter-input-checkbox + label::before {
    content: "";

    position: absolute;
    top: -4px;
    left: 0px;

    width: 26px;
    height: 27px;

    background: url(../img/checkbox-off.svg) no-repeat left center;
    opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
    background-image: url(../img/checkbox-on.svg);
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
    opacity: 1;
}

.filter-button {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 260px;
    padding: 15px 20px;

    line-height: 18px;
    font-weight: 500;
    color: #000;

    background-color: #eee;
}

.filter-button:hover,
.filter-button:focus {
    background-color: #dfdfdf;
}

.filter-button:active {
    color: rgba(0, 1, 1, 0.3);

    -webkit-box-shadow: inset 0px 3px rgba(0, 1, 1, 0.1);

            box-shadow: inset 0px 3px rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}

/*
===== CATALOG CONTENT =====
*/

.catalog-content {
    width: 760px;
}

/*
===== CATALOG SORT =====
*/

.catalog-sort {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.catalog-sort p {
    margin: 0;
    margin-bottom: 47px;

    font-size: 18px;
    line-height: 30px;
    font-weight: bold;

    text-transform: uppercase;
}

.sort-type-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-left: auto;
    padding: 0;

    list-style-type: none;
}

.sort-type-list li + li {
    margin-left: 26px;
}

.sort-type-list a {
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);

    text-transform: uppercase;
}

.sort-type-list a:hover,
.sort-type-list a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.sort-type-list a:active,
.sort-type-list-current a {
    color: rgba(0, 0, 0, 1);
}

.sort-order-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-left: 47px;
    padding: 0;

    list-style-type: none;
}

.sort-order-list li + li {
    margin-left: 16px;
}

.sort-order-list-to-bottom a,
.sort-order-list-to-up a {
    display: inline-block;
    width: 0;
    height: 0;

    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.sort-order-list-to-bottom a {
    border-top: 11px solid rgba(0, 0, 0, 0.2);
}

.sort-order-list-to-bottom a:hover,
.sort-order-list-to-bottom a:focus {
    border-top-color: #a6a6a6;
}

.sort-order-list-to-bottom a:active,
.sort-order-list-current a {
    border-top-color: rgba(0, 0, 0, 1);
}

.sort-order-list-to-up a {
    border-bottom: 11px solid rgba(0, 0, 0, 0.2);
}

.sort-order-list-to-up a:hover,
.sort-order-list-to-up a:focus {
    border-bottom-color: #a6a6a6;
}

.sort-order-list-to-up a:active {
    border-bottom-color: rgba(0, 0, 0, 1);
}

/*
===== CATALOG LIST =====
*/

.catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.catalog-item {
    position: relative;

    width: 360px;
    height: 576px;
    padding-top: 40px;
    margin-bottom: 50px;

    overflow: hidden;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 1, 1, 0.1);
            box-shadow: 0 0 0 1px rgba(0, 1, 1, 0.1);
    border-radius: 3px 3px 0 0;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.catalog-item:hover {
    -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
            box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.catalog-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 40px;

    background: rgba(0, 0, 0, 0.12) url(../img/catalog-item-header.svg) no-repeat;
    opacity: 0.12;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.catalog-item:hover::before {
    opacity: 1;
}

.catalog-item-description {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    padding: 28px 60px 41px;

    text-align: center;
    background-color: #eee;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
}

.catalog-item-description h3 a {
    margin: 0;
    margin-bottom: 14px;

    font-size: 18px;
    line-height: 30px;
    font-weight: bold;

    text-transform: uppercase;
}

.catalog-item-description h3 a {
    color: #000;
}

.catalog-item-description p {
    margin: 0;
    margin-bottom: 28px;

    line-height: 18px;
    color: #666;
}

.catalog-item-description .button {
    padding: 16px 62px;
}

.catalog-item:hover .catalog-item-description {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

.catalog-item .button:active {
    color: #fff;
}

/*
===== CATALOG NAVIGATION =====
*/

.catalog-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-top: 10px;
    padding: 0;

    list-style-type: none;
}

.catalog-navigation li + li {
    margin-left: 10px;
}

.catalog-navigation a {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 15px 0;

    line-height: 18px;
    font-weight: 500;
    color: #000;

    text-align: center;
    background-color: #eee;
    cursor: pointer;
    border-radius: 2px;
}

.catalog-navigation a:hover,
.catalog-navigation a:focus {
    background-color: #dfdfdf;
}

.catalog-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5;
    -webkit-box-shadow: inset 0px 3px rgba(0, 1, 1, 0.1);
            box-shadow: inset 0px 3px rgba(0, 1, 1, 0.1);
}

.catalog-navigation-active a,
.catalog-navigation-active a:hover,
.catalog-navigation-active a:focus,
.catalog-navigation-active a:active {
    background-color: transparent;
    border: 3px solid #dbdbdb;
    padding: 12px 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #000;
}

.catalog-navigation-next a {
    width: 260px;
}